/* styles.css */

form label input {
	background-color: yellow;
}

/*option {
	background-color: #FFFF00;
} */

#lastn {
	font-weight: bold;
}

h3 {
	border: 1px solid black;
	padding: 1em 1em 1em 0.5em;
}